/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Open+Sans:ital,wght@0,600;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:ital,wght@0,600;1,300&family=Work+Sans:ital,wght@0,400;0,500;0,600;1,300;1,400;1,500&display=swap');
/* variables */

:root{
    --bg-body:#1f212c;
    --primary-color:#2c5bff;
    --fontSize-title:40px;
    --fontSize-p:18px;
}
h1,h2,h4,h5,h6{
    font-family: 'Montserrat', sans-serif
}
p,a,li,td,input,label{
    font-family: 'Work Sans', sans-serif;
}
body{
    background: var(--bg-body);
}
header{
    padding-top: 80px;
}
nav.bg-gym{
    background: var(--bg-body);
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    top: 20px;
}
nav .navbar-brand img{
    width: 200px;
}
nav.bg-gym ul li a{
    color: #fff;
    position: relative;
    font-size: 20px;
    margin: 0 12px;
}
nav.bg-gym ul li{
    margin-top: 14px;
    
}
nav.bg-gym ul li a:after{
    width: 0;
    height: 2px;
    background: transparent;
    content: "";
    position: absolute;
    bottom: 2px;
    left: 10px;
    transition: .4s;
}
nav.bg-gym ul li a:hover{
    color: var(--primary-color);
}
nav.bg-gym ul li a:hover::after{
    background: var(--primary-color);
    width: 40%;
}
nav.bg-gym ul li.login{
    margin-left: 100px;
    margin-right: 30px;

}
nav.bg-gym ul li.registro a{
    display: block;
    padding-left: 30px !important;
    padding-right: 30px !important;
    color:#fff;
    background: var(--primary-color);
    border-radius: 4px;
}   

/* estilos del hero */
#hero{
    padding: 160px 0;
}
#hero .cont-foto{
    position: relative;
    width: 400px;
}
#hero .cont-foto img{
    z-index: 3;
    position: relative;
    width: 400px;
}
#hero .cont-foto::before{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: -40px;
    left: 40px;
    background: var(--primary-color);
    z-index: 1;
}
#hero .cont-info{
    padding-left: 60px;

}
#hero .cont-info h1{
    color: #fff;
    font-size: 60px;
    margin-bottom: 30px;
    font-weight: 680px;
    
}
#hero .cont-info h1 span{
    border-bottom: 8px solid #fff;
   
}
#hero .cont-info p{
    color: #c6c6c6;
    font-size: var(--fontSize-p);
    margin-bottom: 60px;
}
#hero .cont-info .destacada h2{
    color: #fff;
    font-size: var(--fontSize-title);
}
#hero .cont-info .destacada p{
    font-size: 14px;
}

/* servicios */
#servicios{
    width: 100%;
    position: relative;
    padding: 150px 0 100px;
    text-align: center;
}
#servicios h2{
    color: #fff;
    font-size: var(--fontSize-title);
    font-weight: 600px;
}
#servicios p{
    font-size: var(--fontSize-p);
    color: #c6c6c6;
}
#servicios .row{
    padding: 70px;

}
#servicios .card-service{
    background: #292c36;
    border-radius: 4px;
    position: relative;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    text-align: left;
    transition: .4s;
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 70px;

}
#servicios .card-service:hover{
    background: var(--primary-color);
}
#servicios .card-service img{
    background: #fff;
    width: 70px;
    padding: 15px;
    border-radius: 4px;
    position: absolute;
    top: -30px;
    left: 40px;
}
#servicios .card-service h3{
    text-align: right;
    color: #fff;
    font-size: 40px;
    margin-bottom: 25px;
}
#servicios .card-service h4{
    color: #fff;
    font-weight: 600px;
    font-size: 18px;
    text-align: left;
    margin-bottom: 18px;
}
#servicios .card-service  p{
    font-size: 15px;
    color: #c6c6c6;
    text-align: left;
    line-height: 30px;
    margin-bottom: 15px;

}
#servicios .card-service a{
    color: #c6c6c6;
    text-align: left;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 2px solid #c6c6c6;
}

/* clases destacadas */
#destacadas{
    width: 100%;
    position: relative;
    text-align: left;
    padding: 170px 0 100px;

}
#destacadas h2{
    font-size: var(--fontSize-title);
    color: #ffffff;
    font-weight: 700px;
    position: relative;
    margin-bottom: 70px;

}
#destacadas h2::after{
    width: 60%;
    height: 3px;
    background: #fff;
    position: absolute;
    content: "";
    right: 0;
    top: 30px;
}
#destacadas .card-destacados{
    background: #292c29;
    border-radius: 4px;
    position: relative;
}
#destacadas .card-destacados img{
    width: 100%;
    border-radius: 4px 4px 0 0;

}
#destacadas .card-destacados .cont-info{
    background: #292c36;
    padding: 14px ;
    border-radius: 0 0 4px 4px;
    transition: .4s;
}
#destacadas .card-destacados .cont-info:hover{
    background: var(--primary-color);
}
.card-destacados .cont-info h3{
    color: #fff;
    font-size: 20px;
    font-weight: 600px;
}
.card-destacados .cont-info  p{
    color: #c6c6c6;
    font-size: 16px;

}

/* planes */
#planes{
    width: 100%;
    position: relative;
    text-align: center;
    padding: 80px 0 100px;

}
#planes h2{
    font-size: var(--fontSize-title);
    color: #ffffff;
    font-weight: 700px;
    margin-top: 100px;
    margin-bottom: 30px;
}
#planes p{
    font-size: var(--fontSize-p);
    color: #fff;
}
#planes .lapso{
    background: #292c36;
    margin-top: 50px;
    padding: 50px 70px;
    border-radius: 20px;
    text-align: left;
}
#planes .lapso ul{
    border: 0 transparent;
    margin-bottom: 50px;
    background: #3f434f;
    max-width: 220px;
    padding: 10px;
    border-radius: 50px;

}
#planes .lapso ul li button{
    background: transparent;
    color: #fff;
    border-radius: 30px;
    width: 100px;
    border: 0 transparent;
}
#planes .lapso ul li button.active{
    background: var(--primary-color);
}
#planes .lapso  p{
    margin-bottom: 40px;
    position: relative;
}
#planes .lapso  p::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 10px;
    right: 0;
    top: 10px;
}
#planes .plan{
    background: transparent;
    padding-top: 50px;
}
#planes .plan .accordion{
    background: transparent;
}
#planes .plan .accordion-item,#planes .plan .accordion-item button{
    background: transparent;
}
#planes .plan .accordion-item{
    border-radius: 30px;
    margin: 30px ;
    border: 1px solid #fff;

}
#planes .plan h2{
    margin: 0;
    padding: 0;
    color: #fff;

}
#planes .plan .accordion-item button{
    color: #ffffff;
    box-shadow: 0 0 0 transparent;
    padding: 40px;
    border-radius: 30px;
    font-size: 20px;
}
#planes .plan .accordion-item button.accordion-button{
    background: var(--primary-color);
}
#planes .plan .accordion-item button.accordion-button.collapsed{
    background: transparent;
}
#planes .plan .accordion-item .accordion-body{
    color: #ffffff;
    font-size: var(--fontSize-p);
}


/* cometarios */
#comentarios {
    text-align: center;
    width: 100%;
    position: relative;
    padding: 80px 0 130px;
    color: #ffffff;

}
#comentarios .carousel-item{
    background: var(--primary-color);
    padding: 120px 80px;
    border-radius: 10px;
    cursor: pointer;
}
#comentarios .carousel-item h3{
    font-size: 36px;
    margin-bottom: 20px;
}
#comentarios .carousel-item button{
    padding: 6px 40px;
    background: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 22px;
    border-radius: 10px;
    margin-top: 30px;
 
}

/* footer */
footer{
    padding: 30px;
    background: #292c36;
    text-align: center;
    color: #ffffff;
}
footer img{
    width: 220px;
}

/* responsive */
@media screen and (min-width:320px) and (max-width:990px){
    header nav button.navbar-toggler{
        background: var(--primary-color);
    }
    nav.bg-gym ul li.login{
        margin-left: 0;
        margin-right: 0;
    }
    nav.bg-gym ul li.registro a{
        display: inline-block;
    }
    #hero{
        text-align: center;
    }
    #hero .cont-foto{
        width: 100%;
    }
    #hero .cont-foto::before{
        left: 0;
    }
    #destacadas h2::after{
        width: 25%;
    }
    #hero .cont-info h1{
        margin-top: 55px;
     
    }
    nav.bg-gym ul li a:after{
        left: 3px;
    }
    nav.bg-gym ul li a:hover::after{
        background: var(--primary-color);
        width: 15%;
    }
}   